# Ignore compiled Python files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

planner_zoo/*.pth
planner_zoo/*.pt
planner_zoo/*.mp4
planner_zoo/*.avi

elements/_pyxbld/
visualize/matplotlib_cheatsheet/
DEBUGtest/videos/

*.bak
upload.txt
todo.txt


