# Ignore compiled Python files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.pth

# Ignore virtual environment
venv/

planner_zoo/*.pth
planner_zoo/*.pt
planner_zoo/*.mp4
planner_zoo/*.avi

elements/_pyxbld/
visualize/matplotlib_cheatsheet/
DEBUGtest/videos/
DEBUGtest/*.avi
DEBUGtest/*.mp4
DEBUGtest/dataset

interface/carla/example
interface/carla/carla_veh_light
interface/carla/PythonAPI

*.bak
upload.txt
todo.txt


